  <div id="mobile">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 hidden-xs">
          <img src="images/ss3.png" class="device img-responsive" alt="mobile" />
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="info">
            <h3>Available in the Appstore</h3>
            <p>
              With some customization you can make this product apply to your branding guidelines and amaze your customers at the same time.
            </p>
            <a class="button button-small" href="#">Get it free</a>
          </div>
        </div>
      </div>
    </div>
  </div>