---
title: Loyal Guru - Soporte para empresas
wrapped: true
classes: col-md-8 col-md-offset-2
bodyId: support
navbarClass: normal
---

<h1><%= t "customer.support.title" %></h1>

<ul>
<li><a href="#create">Crear un cliente</a></li>
<li><a href="#search">Buscar un cliente</a></li>
<li><a href="#update">Modificar un cliente</a></li>
<li><a href="#activate">Activar un cliente</a> </li>
</ul>

<h2 id="create">Crear cliente</h2>

<iframe width="960" height="720" src="https://www.youtube.com/embed/GJeENQUztBc" frameborder="0" allowfullscreen></iframe>

<br>

<h2 id="search">Buscar cliente</h2>

<iframe width="960" height="720" src="https://www.youtube.com/embed/2JsSUgL296c" frameborder="0" allowfullscreen></iframe>

<br>

<h2 id="update">Modificar cliente</h2>

<iframe width="960" height="720" src="https://www.youtube.com/embed/UullWhxDGEA" frameborder="0" allowfullscreen></iframe>

<br>

<h2 id="activate">Activar cliente o completar datos de un cliente antiguo</h2>

<iframe width="960" height="720" src="https://www.youtube.com/embed/XAsSVG2wrFM" frameborder="0" allowfullscreen></iframe>

<br>
