  <div id="hero">
    <div class="container">
      <h1 class="hero-text">Ofrece una tarjeta de fidelización digital a tus clientes</h1>
      <div class="cta">
        <a href="/contact" class="button">Contacta</a>
      </div>
<!--       <div class="screenshot animated fadeInUp">
        <img src="images/ss2.png" class="img-responsive" alt="screenshot" />
      </div> -->
    </div>
  </div>
