  <div id="hero">
    <div class="container">
      <h1 class="hero-text">Una plataforma para mejorar el rendimiento de tus tiendas</h1>
      <div class="cta">
        <a href="/contact" class="button">Contacta</a>
<!--         <a href="#" data-toggle="modal" data-target="#demo" class="demo">Watch a demo</a> -->
      </div>
<!--       <div class="screenshot animated fadeInUp">
        <img src="images/ss2.png" class="img-responsive" alt="screenshot" />
      </div> -->
    </div>
  </div>
