---
title: Download
bodyId: download
navbarClass: normal
---

    <div class="container">
      <div class="row">
      <div class="col-md-12">
        <h3>¿Eres el propietario de un comercio?</h3>
        <p>
        En caso de que tengas un comercio que quieras administrar con Loyal Guru, en esta sección podrás descargar la App de Loyal Guru Manager
        </p>
      </div>
      </div>
      <div class="row sections">
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
            <a href="https://play.google.com/store/apps/details?id=com.loyalguru.manager">
              <%= image_tag "resources/play-store.png", :class => "img-responsive img-sector" %>
            </a>
            </div>
            <div class="info">
              <strong>Android</strong>
                <p><a href="https://play.google.com/store/apps/details?id=com.loyalguru.manager" targe="_blank">Descargar</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
              <a href="https://itunes.apple.com/es/app/loyal-guru-manager/id956880734?l=en&mt=8">
              <%= image_tag "resources/app-store.png", :class => "img-responsive img-sector" %>
              </a>
            </div>
            <div class="info">
              <strong>iOs</strong>
                <p><a href="https://itunes.apple.com/es/app/loyal-guru-manager/id956880734?l=en&mt=8" class="">Descargar</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
              <a href="https://manager.loyal.guru" target="_blank">
              <%= image_tag "resources/web-app.png", :class => "img-responsive img-sector" %>
              </a>
            </div>
            <div class="info">
              <strong>Web App</strong>
              <p><a href="https://manager.loyal.guru" target="_blank">
                Acceder
              </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
