  <script type="text/javascript">
    $(function () {
      var $demo = $("#demo");
      $('#demo').on('hidden.bs.modal', function () {
        $demo.find("iframe").remove();
      })
      $('#demo').on('show.bs.modal', function () {
        if (!$demo.find("iframe").length) {
          $demo.find(".modal-body").append("<iframe src='http://player.vimeo.com/video/22439234' width='650' height='370' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>")
        }
      })
    });
  </script>

  <%= google_analytics_universal_tag %>

</body>
</html>