<div id="home2">
<div id="features">
	<div class="container">
<div class="row feature">
			<div class="col-md-4 info">
				<h4>Dispón de métricas accionables</h4>
				<p>
				Monitoriza el rendimiento de tus tiendas en tiempo real y asegúrate de reaccionar ante los problemas antes de que provoquen pérdidas en ventas.
				</p>
				<p>Una única vista de <strong>ventas</strong>, <strong>clientes</strong>, <strong>tiendas</strong>, <strong>accesos a tienda</strong>, <strong>vendedores</strong> y mucho más!
				</p>
			</div>
			<div class="col-md-8 image">
				<%= image_tag "images/resources/screenshots/operations-dashboard.png", class: "img-responsive img-bottom-border", style: "padding:0px 20px" %>
			</div>
		</div>
		<div class="divider"></div>
	</div>
</div>
</div>

