<div id="home2">
<div id="features">
	<div class="container">
	<div class="row feature">
			<div class="col-md-4 info">
				<h4><%= t "business.operations.feature_title_1" %></h4>
				<p><%= t "business.operations.feature_body_1_1" %></p>
				<p><%= t "business.operations.feature_body_1_2" %></p>
			</div>
			<div class="col-md-8 image">
				<%= image_tag "images/resources/screenshots/operations-dashboard.png", class: "img-responsive img-bottom-border", style: "padding:0px 20px" %>
			</div>
		</div>
		<div class="divider"></div>
	</div>
</div>
</div>

