<div id="home">
<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h3><strong><%= t "customer.own_a_business_title" %></strong> </h3>
      <p><%= t "customer.own_a_business_body" %></p>

        <div class="logos">
          <%= link_to_i18n "Loyal Guru for Business", "/index.html", class: "button-outline" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>