 <div id="about-us">
  <div id="cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrapper clearfix">
            <h4>Prueba <strong>Loyal Guru</strong> y lleva tus ventas a otro nivel.</h4>
            <%= link_to "Contacta", "/business/contact.html", class: "button button-small" %>
          </div>
        </div>
      </div>
    </div>
    <br/><br/><br/>
  </div>
  </div>