  <div id="mobile">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 hidden-xs">
          <%= image_tag "resources/guru-cut.png", :class=> "device img-responsive", alt: "mobile" %>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="info">
            <h3>Loyal Guru te puede ayudar a aumentar ventas</h3>
            <p class="">
            Benefíciate tu también de la plataforma más flexible del mercado para activar un programa de puntos, un sistema de cupones personalizados y para la realización de potentes campañas de marketing automatizadas.
            </p>
            <%= link_to "Contacta", "/business/contact.html",:class=>"button button-small" %>

          </div>
        </div>
      </div>
    </div>
  </div>