
  <div id="mobile">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 hidden-xs">
          <img src="images/ss3.png" class="device img-responsive" alt="mobile" />
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="info">
            <h3>Disponible para iOs y Android</h3>
            <p>

            </p>
            <a class="button button-small" href="#">Descárgala gratis</a>
          </div>
        </div>
      </div>
    </div>
  </div>