  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/smartphone.png" alt="creditcard" />
          <strong>Todas tus tarjetas de fidelización en tu smartphone</strong>
          <p>You can work with international customers right out of the box while you can keep staying in your country.</p>
        </div>
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/money.png" alt="dev" />
          <strong>Un monedero para todos tus cupones</strong>
          <p>With some customization you can make this product apply to your branding guidelines and amaze your customers at the same time.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/present.png" alt="support" />
          <strong>Obten descuentos por identificarte al comprar</strong>
          <p>We're always happy to offer support if you happen to have any doubts about anything, if you need
            some new stuff contact us.</p>
        </div>
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/heart.png" alt="globe" />
          <strong>Sigue los programas de puntos de tus sitios favoritos</strong>
          <p>We don't impose any design restrictions, you are free to customize it as you see fit and it's easy to use.</p>
        </div>
      </div>
    </div>
  </div>
