<div id="home4">
  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/smartphone.png" alt="creditcard" />
          <strong>Todas tus tarjetas de fidelización en tu smartphone</strong>
          <p>No dependas de las antiguas tarjetas físicas de fidelización y acumula las tarjeas de tus sitios favoritos en un único lugar</p>
        </div>
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/money.png" alt="dev" />
          <strong>Un monedero para todos tus cupones</strong>
          <p>No pierdas ni un cupón más. Loyal Guru te permite almacenar los cupones de descuento en un único sitio y controlar que no caduquen</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/present.png" alt="support" />
          <strong>Obten descuentos por identificarte al comprar</strong>
          <p>Difruta de descuentos y regalos por hacer algo que ya haces, comprar en tus establecimientos favoritos</p>
        </div>
        <div class="col-md-6 feature">
          <img src="images/circle-icons/one-color/heart.png" alt="globe" />
          <strong>Sigue los programas de puntos de tus sitios favoritos</strong>
          <p>Controla cuantos puntos tienes en cada una de tus tarjetas de fidelización y así podrás gastarlos antes de que caduquen</p>
        </div>
      </div>
    </div>
  </div>
</div>