<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Una plataforma online para hacer marketing omnicanal, crear una experiencia in-store única, redirigir tráfico online a tus puntos de venta físicos y en general activar las ventas de tus establecimientos.">

<title> Loyal Guru - Tu plataforma online de fidelización de clientes y marketing omnicanal</title>

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <% if false %>
   <!-- toca revisar -->
   <%= stylesheet_link_tag "app.css" %>
   <%= javascript_include_tag "app.js" %>
  <% end %>

  <link data-turbolinks-track="true" href="https://loyalty-assets-production.s3.amazonaws.com/assets/web-8ba62bfb0bfeee5efe9125dffe507af8.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="https://loyalty-assets-production.s3.amazonaws.com/assets/web-e382cfd2815c745015fe839f7468aa4e.js"></script>


</head>
<body data-spy="scroll" data-offset="0" data-target="#navbar-main">