  <div id="hero">
    <div class="container">
      <h1 class="hero-text">Todas tus tarjetas de fidelización en un único sitio</h1>
      <div class="cta">
        <a href="#descargar" class="button">Descargar App</a>
<!--         <a href="#" data-toggle="modal" data-target="#demo" class="demo">Watch a demo</a> -->
      </div>
      <div class="screenshot animated fadeInUp">
      <%= image_tag "/images/resources/screenshots/fidelizacion.png" , class: "img-responsive", width: "150px" %>
      </div>
    </div>
  </div>
