 <!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" id="home" name="home">
    <header class="clearfix">
      <h1>Una plataforma para</h1>
      <p><span class="subclaim rotate">fidelizar a tus clientes: hacer marketing omnicanal: mejorar el rendimiento de tus establecimientos: crear una experiencia in-store única: medir de forma clara el ROI de tus campañas: difuminar la línea entre el mundo online y offline: redirigir tráfico online a tus puntos de venta físicos: fomentar una relación personal y frecuente con tu marca:competir por la decisión de compra a tiempo real
</span></p>

    </header>
  </div><!-- /headerwrap -->

  <!-- ==== GREYWRAP ==== -->
  <div id="greywrap">
    <div class="row">
      <div class="col-lg-4 callout">
        <span class="icon icon-users"></span>
        <h2>Promociones personalizadas</h2>
        <p>Segmenta tu base de clientes y ofrece experiencias personalizadas. Diseña programas de puntos, crea lotes de cupones de descuento que se podrán validar en tus establecimientos y mucho más.<br><strong>Campañas que realmente activan ventas</strong></p>
      </div><!-- col-lg-4 -->

      <div class="col-lg-4 callout">
        <span class="icon icon-podcast"></span>
        <h2>Despliegue omnicanal</h2>
        <p>Comunica las campañas y promociones por mail o SMS. Además, con nuestros Beacons, podrás influenciar la compra en el exacto instante en el que tu cliente esté en la tienda. <br/><strong>Offline, online, instore, offstore... Omnicanal!</strong></p>
      </div><!-- col-lg-4 -->


      <div class="col-lg-4 callout">
        <span class="icon icon-pie"></span>
        <h2>Analiza, optimiza y fideliza</h2>
        <p>Calcula el ROI de tus campañas. Obtén información clara de tus clientes y tus tiendas en una única vista de los indicadores importantes. Integración con los sistemas líderes de BI.<br/><strong>Perfil 360º de tus tiendas y de tus clientes</strong></p>

      </div><!-- col-lg-4 -->


    </div><!-- row -->
  </div><!-- greywrap -->

  <!-- ==== ABOUT ==== -->
  <div class="container" id="about" name="about">
    <div class="row white how-it-works">

      <h1 class="centered">Cómo funciona Loyal Guru</h1>
      <hr>

      <div class="col-lg-6">
        <p class="no-bottom">Loyal Guru es una <strong>plataforma</strong> que permite a empresas de diferentes sectores poder crear <strong>potentes campañas personalizadas</strong> en función de los hábitos del cliente, y enviarlas de forma <strong>omnicanal</strong>. </p>

        <p class="no-bottom">Consta de una <strong>plataforma online</strong> para la empresa, una <strong>app móvil</strong> que se descargan los clientes y requiere de la realización de simples integraciones en los establecimientos.</p>
        <p >Todo con el objetivo de <strong>activar las ventas</strong> gracias a conocer mejor al cliente y ofrecerle promociones relevantes. Además Loyal Guru facilita la <strong>medición del ROI, análisis y optmización</strong> de estas campañas para que cada vez sean más efectivas.</p>
      </div><!-- col-lg-6 -->

      <div class="col-lg-6">
        <img alt="Girl scan" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/girl-scan-709d3fcd527a419f4b2da7797bb370dc.jpg" /><br/>
      </div>



    </div><!-- row -->


    <!--
    <div class="col-lg-offset-2 col-lg-8">
        <img alt="Fidelizacion" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/fidelizacion-74c4fa13c28653518cb92f8216202118.png" /><br/>
      </div>
      -->

            <div class="row">
        <div class="col-lg-4">
          <div class="list-group">
            <a href="index.html#" class="list-group-item active nolink">
              Plataforma online ( empresa )
            </a>
            <span href="#" class="list-group-item">Con Loyal Guru la empresa tiene acceso a una plataforma online desde la que puede :
            <ul><li><strong>Crear campañas personalizadas de diversos tipos</strong> ( cupones, programas de fidelización basados en puntos, acciones contextuales, etc.. )</li>
            <li><strong>Asociarlas a segmentos</strong> de su base de clientes</li>
            <li><strong>Desplegarlas de forma omnicanal</strong> vía sms, mail, push o tiendas físicas</li>
            <li><strong>Analizar</strong> el impacto de estas campañas y el <strong>rendimiento general de sus tiendas</strong></li>
            </ul>
            </span>

        </span>
          </div>
        </div><!-- col-lg-6 -->
        <div class="col-lg-4">
          <div class="list-group">
            <a href="index.html#" class="list-group-item active nolink">
              App Móvil ( cliente )
            </a>
            <span href="#" class="list-group-item">Los clientes de la empresa pueden instalarse una App que les permitirá, previo registro e introducción de datos:
            <ul><li><strong>Identificarse al realizar una compra</strong> para acumular puntos</li>
            <li><strong>Canjear los cupones</strong> obtenidos </li>
            <li>Consultar las <strong>promociones</strong> activas</li><li><strong>recibir promociones a tiempo real</strong> mientras se acercan o están en el interior de una tienda.</li></ul></span>
          </div>


        </div><!-- col-lg-6 -->
        <div class="col-lg-4">
          <div class="list-group">
            <a href="index.html#" class="list-group-item active nolink">
              Integraciones ( tiendas )
            </a>
            <span></span>
            <span href="#" class="list-group-item"><strong>APP:</strong> Applicación móvil para dependientes de tienda para identificar a clientes, tickets de compra, y demás acciones. </span>
            <span href="#" class="list-group-item"><strong>TPV's:</strong> Alternativa a la APP. Integración sencilla que permite la identificación de los clientes, la asociación de su compra o la validación de un cupón.</span>
            <span href="#" class="list-group-item"><strong>Beacons:</strong> Sensores de proximidad para incentivar a clientes con promociones personalizadas a tiempo real en la tienda.</span>
            <span href="#" class="list-group-item"><strong>Contadores de personas:</strong> Descubre los ratios que tienes de conversión de fuera a dentro de la tienda, y de dentro de la tienda a compra final.</span>
          </div>


        </div><!-- col-lg-6 -->

      </div>



  </div><!-- container -->

  <!-- ==== SECTION DIVIDER1 -->
  <section class="section-divider textdivider divider1" id="servicio" name="servicio">
    <div class="container">
      <h1>TU GURÚ DE LA FIDELIZACIÓN DE CLIENTES</h1>
      <hr>
      <p>La plataforma online que te permitirá vender más gracias a ofrecer lo que es relevante para el cliente</p>
    </div><!-- container -->
  </section><!-- section -->


  <!-- ==== SERVICES ==== -->
  <div class="container">
    <br>
    <br>


    <div class="row">
      <h2 class="centered">CREA PROMOCIONES QUE RESUENEN CON LOS INTERESES DE TUS CLIENTES</h2>
      <hr>
      <br>



      <div class="col-lg-offset-2 col-lg-8">
        <p>Con Loyal Guru <strong>podrás crear promociones en cuestión de minutos</strong> que se aplicarán en el punto de venta o que podrás entregar vía mail. Podrás combinar un <strong>sistema de cupones canjeables en punto de venta</strong>, con <strong>programas de puntos</strong> personalizados para tu negocio en el que tu decides la recompensa y el método de acumulación de puntos. También podrás realizar promociones de recomendación en punto de venta a clientes en función de compras anteriores, o podrás realizar las <strong>clásicas promociones de dar gratuito un servicio o producto al haber comprado 10</strong>.  </p>
      </div><!-- col -->

      <div class="col-lg-offset-2 col-lg-4">
        <div class="box-panel">
          <h3>Cupones</h3>
          <p>Que tus clientes puedan disfrutar de cupones de descuento personalizados canjeándolos en tu punto de venta de forma rápida.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box-panel">
          <h3>Programas de puntos</h3>
          <p>Permite que tus clientes acumulen puntos, con cada visita o compra que realicen, que posteriormente podrán canjear en tu establecimiento.</p>
        </div>
      </div>



      <div class="col-lg-offset-2 col-lg-4">
        <div class="box-panel">
          <h3>Acciones contextuales instore</h3>
          <p>Relacionar los intereses del cliente, su histórico de compras y su ubicación actual en la tienda para poder ofrecerle promociones personalizadas en ese instante.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box-panel">
          <h3>Realidad Aumentada</h3>
          <p>Permite a tus clientes obtener más información de un producto escaneando su código de barras, o acceder a comprar online una variante del producto que no tienes en stock.</p>
        </div>
      </div>


      <div class="col-lg-offset-2 col-lg-8">
        <p>La plataforma está desarrollada para que realizar estas acciones sea muy sencillo y ágil, y para que puedas <strong>combinar los diferentes tipos de promociones</strong> o que te centres en explotar uno de los tipos, como por ejemplo los cupones.</p>
        <p>Además, podrás direccionar las promociones apoyándote en <strong>el potente sistema de segmentación</strong> y en el <strong>motor de promociones contextuales basado en Beacons</strong>. De esta forma, mientras que una promoción será disfrutable por un consumidor en un segmento determinado  ( ejemplo: mujer con más de 10 compras realizadas con valor superior a 20 euros ) habrá otra que sólo será disfrutable por parte de otro segmento ( ejemplo: personas que han asistido por primera vez a mi establecimiento este último mes ).</p>
      </div><!-- col -->


    </div><!-- row -->


    <br>
    <br>

    <div class="row">
      <h2 class="centered">COMUNÍCATE DE FORMA PERSONALIZADA EN MÚLTIPLES CANALES</h2>
      <hr>
      <br>
      <div class="col-lg-offset-2 col-lg-8">
        <p><strong>Selecciona un segmento de tu base de datos de clientes</strong> ( ejemplos: hombres de más de 30 años que hayan realizado compras en los últimos 3 meses, mujeres de entre 18 y 35 que hayan venido más de 5 veces este mes, clientes que no hayan venido en los últimos 3 meses pero antes venían a menudo, etc. ) y <strong>realiza comunicaciones vía mail, sms o push</strong>.</p>

      </div><!-- col -->

      <div class="col-lg-offset-2 col-lg-8">
        <img alt="Messages" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/messages-0d75fafb1b0913ae4e15f5d7eba17c75.png" /><br/>
      </div><!-- col -->
    </div><!-- row -->


    <br>
    <br>


    <div class="row">
      <h2 class="centered">ANALIZA y OPTIMIZA</h2>
      <hr>
      <br>


      <div class="col-lg-offset-2 col-lg-4">
        <img alt="Analytics" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/analytics-7ea0d4fe274f585e59e43ec8a152c070.jpg" />
      </div><!-- col -->
      <div class=" col-lg-4">
        <p>Analiza los datos recogidos de las acciones de los clientes, detecta dinámicas de consumo. Calcula de forma clara el ROI de las campañas y entiende cuales están funcionado bien y cuales no.</p>

        <p>En definitiva, <strong>obten una radiografía de tus tiendas y tus consumidores </strong> desde la perspectiva que te interese.</p>


      </div><!-- col-lg -->

    </div><!-- row -->


    <div class="row">
      <br/>
      <div class="col-lg-offset-2 col-lg-8">
        <p>Loyal Guru permite la <strong>integración con los principales sistemas de Business Intelligence</strong> del mercado.</p>

        <ul class="list-inline">

          <li><span href="#" class="list-group-item"><img alt="Microstrategy logo" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/microstrategy-logo-6b59873abd92678000026c6a9bb6e27b.png" style="max-height:35px" /></span></li>
          <li><span href="#" class="list-group-item"><img alt="Sap logo" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/sap-logo-88607722e06c1f96c48d2f81ea8d4a43.png" style="max-height:35px" /></span></li>
          <li><span href="#" class="list-group-item"><img alt="Tableau logo" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/tableau-logo-84d52882c44ed182bacbf23a4f11a0a2.png" style="max-height:35px" /></span></li>
          <li><span href="#" class="list-group-item"><img alt="Qlickview logo" class="img-responsive" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/qlickview-logo-590ddafad1bdfd6a8550667e40ac9c6c.png" style="max-height:35px" /></span></li>
        </ul>

      </div>
    </div>




  </div><!-- container -->


  <!-- ==== SECTION DIVIDER2 -->
  <section class="section-divider textdivider divider2" id="sectores" name="sectores">
    <div class="container">
      <h1>SECTORES</h1>
      <hr>
      <p>Loyal Guru es una plataforma útil en diversos sectores</p>
    </div><!-- container -->
  </section><!-- section -->

  <!-- ==== TEAM MEMBERS ==== -->
  <div class="container" id="team" name="team">
    <br><br><br>
    <div class="row white centered">
      <div class="col-lg-4 centered">
        <img alt="Restauracion" class="img img-circle" height="120px" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/restauracion-867d9c4b97197bd5743791044d00c89c.jpg" width="120px" />

        <br>
        <h4><b>Restauración y hostelería</b></h4>
        <p>Obsequia a tus clientes por su recurrencia en tu local, descubre los productos o franjas horarias en las que obtienes mejores ventas y el tipo de consumidores que están realizando las compras. Comunícate con tus clientes para anunciar la apertura de un nuevo local o un periodo con ofertas especiales.</p>
      </div><!-- col-lg-3 -->

      <div class="col-lg-4 centered">
        <img alt="Retail" class="img img-circle" height="120px" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/retail-8d90ba6a54ecf254234a17a0025beda3.jpg" width="120px" />
        <br>
        <h4><b>Retail</b></h4>
        <p>Recoge el histórico de compras realizadas por un consumidor o sus marcas favoritas de cara a poder ofrecerle productos relacionados en el momento de la compra. Comunícate de forma masiva via mail/sms con clientes que cumplan ciertas condiciones para anunciar la apertura de un nuevo local o el inicio de las rebajas.</p>
      </div><!-- col-lg-3 -->



      <div class="col-lg-4 centered">
        <img alt="Cine" class="img img-circle" height="120px" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/cine-d8ee896460dafc3172ae276dd73375bd.jpg" width="120px" />
        <br>
        <h4><b>Otros</b></h4>
        <p>Recoge datos de tus usuarios o consumidores vía formularios en un portal web, tablets en una feria o TPV's en un punto de venta. Analiza estos clientes y comunícate con ellos vía campañas de mail/sms o ofreciéndoles promociones en el mismo punto de acceso al establecimiento.</p>
      </div><!-- col-lg-3 -->

    </div><!-- row -->
  </div><!-- container -->
  <br><br>

  <!-- ==== SECTION DIVIDER6 ==== -->
  <section class="section-divider textdivider divider6">
    <div class="container">
      <h1>CONTÁCTANOS</h1>
      <hr>
      <p>Entiende como Loyal Guru puede ayudarte a mejorar tu cuenta de resultados</p>
      <!--        <p><a href="info@loyal.guru">info@loyal.guru</a></p> -->
      <!--        <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p> -->
    </div><!-- container -->
  </section><!-- section -->

  <div class="container" id="contact" name="contact">
    <div class="row">
      <br>
      <!--        <h1 class="centered">Gracias por visitarnos</h1>
        <hr>
        <br> -->
      <br>


      <div class="col-lg-4">
        <h3>Creado por Jobtitude</h3>
        <p>Jobtitude es una consultoría de tecnología y de negocio focalizada en desarrollar productos y proyectos para PYMES. Para conocer más acerca de la compañía que ha creado Loyal Guru visita <a href="http://www.jobtitude.com" target="_blank">www.jobtitude.com</a></p>
      </div><!-- col -->
      <div class="col-lg-4">
        <h3>Información de contacto</h3>
        <p><span class="icon icon-home"></span>  Calle Llacuna 162-164, Barcelona<br/>
        <span class="icon icon-phone"></span>  +93 551 14 43<br/>
        <span class="icon icon-envelop"></span>  <a href="mailto:info@loyal.guru"> info@loyal.guru</a> <br/>
        <!--            <span class="icon icon-twitter"></span> <a href="#"> @loyalguru </a> <br/>
            <span class="icon icon-facebook"></span> <a href="#"> Loyal Guru </a> <br/> -->
        </p>
      </div><!-- col -->
      <div class="col-lg-4">
        <h3>Newsletter</h3>
        <p>Regístrate en nuestra newsletter y te actualizaremos con las últimas novedades.</p>
        <p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://jobtitude.us7.list-manage.com/subscribe/post?u=2bade371a9c71fb0c8902eb1f&amp;id=1fc8866c98" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" role="form" target="_blank" novalidate>

            <div class="mc-field-group form-group">

              <div class="col-lg-9">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="e-mail">
              </div>
            </div>
            <div class="mc-field-group form-group">
              <div class="col-lg-9">
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="nombre">
              </div>
            </div>
            <div class="mc-field-group form-group size1of2">
              <div class="col-lg-9">
                <input type="number" name="PHONE" class="form-control" value="" id="mce-PHONE" placeholder="teléfono">
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_2bade371a9c71fb0c8902eb1f_1fc8866c98" value=""></div>
            <div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success"></div>
          </form>
        </div>

        <!--End mc_embed_signup-->
        </p>
      </div><!-- col -->



    </div><!-- row -->

  </div><!-- container -->

  <div id="footerwrap">
    <div class="container">
      <h4>Creado por <a href="http://jobtitude.com" target="_blank">Jobtitude</a> - Copyright 2014</h4>
    </div>
  </div>


