 <div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-menu" style="font-size:22px; color:white;"></span>
        </button>

        <a class="navbar-brand" href="index.html#home" class="smoothScroll"><img alt="Loyal guru logo white" class="img-responsive head-logo" src="https://loyalty-assets-production.s3.amazonaws.com/assets/img/Loyal-Guru-logo-white-8a69fc530634a676075f43fe466cdebd.png" /></a>

      </div>
      <div class="navbar-collapse collapse pull-right">
        <ul class="nav navbar-nav">
          <li> <a href="index.html#about" class="smoothScroll"> Info</a></li>
          <li> <a href="index.html#servicio" class="smoothScroll"> Servicio</a></li>
          <li> <a href="index.html#sectores" class="smoothScroll"> Sectores</a></li>
          <li> <a href="index.html#contact" class="smoothScroll"> Contacto</a></li>
          <li> <button onclick="document.location.href='https://app.loyal.guru/'" class="smoothScroll btn btn-success btn-login"> LOG IN</button></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

