<div id="home">
<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h3><strong>¿Tienes un negocio?</strong> </h3>
      <p>Integra un programa de fidelización de clientes que realmente funciona</p>

        <div class="logos">
          <%= link_to "Loyal Guru for Business", "/business/index.html", class: "button-outline" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>