<div id="home2">
<div id="features">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h2>¿Cómo funciona?</h2>
				<p>Loyal Guru permite integrar de forma fácil un programa de fidelización en tu empresa</p>
			</div>
		</div>
		<div class="row feature">
			<div class="col-md-6 info">
				<h4>El cliente usa Loyal Guru App para identificarse</h4>
				<p>
					Una vez el cliente se ha descargado la aplicación puede proceder a vincularse con su establecimiento o cadena de tiendas. 
				</p>
				<p>A partir de ese momento podra identificarse en sus puntos de venta acumulando puntos y cupones de descuento. </p>
			</div>
			<div class="col-md-6 image">
				<%= image_tag "images/resources/screenshots/details-and-profile-branded.png", class: "img-responsive img-bottom-border", style: "padding:0px 20px" %>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row feature backwards">
			<div class="col-md-6 info">
				<h4>El encargado de tus establecimientos<br/> usa Loyal Guru Manager App</h4>
				<p>
					Gracias a la aplicación especial para responsables de tienda y <strong>sin integraciones tecnológicas complicadas</strong> es posible identificar a los diferentes clientes.
				</p>
				<p>
					También es posible <strong>integrar Loyal Guru con los TPV's de la empresa</strong> o sistema de e-commerce, todo gracias a una potente API Rest.
				</p>
			</div>
			<div class="col-md-6 image">
				<%= image_tag "images/resources/screenshots/ipad-scan-and-search-profiles-branded.png", class: "img-responsive", style: "padding:0px 40px;" %>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row feature">
			<div class="col-md-6 info">
				<h4>La gestión de tu programa de fidelización unificada</h4>
				<p>
					Además desde la misma Loyal Guru Manager App los dependientes de un establecimiento podrán gestionar toda la relación con el cliente derivada del programa de fidelización.
				</p>
				<p>
					El responsable de un establecimiento podrá:
					<ul>
					<li>Identificar a los clientes</li>
					<li>Guardar su ticket de compra</li>
					<li>Canjear puntos por regalos y entregarlos a cliente</li>
					<li>Validar cupones personalizados</li>
					<li>Y mucho mas!</li>
					</ul>

			</div>
			<div class="col-md-6 image">
				<%= image_tag "images/resources/screenshots/canjear-regalo-crop-branded.png", class: "img-responsive img-bottom-border", style: "padding:0px 40px" %>
			</div>
		</div>
				<div class="divider"></div>
	</div>		
</div>
</div>