---
title: Loyal Guru - Soporte
wrapped: true
classes: col-md-8 col-md-offset-2
bodyId: support
navbarClass: normal
---

<h1><%= t "customer.support.title" %></h1>

<p><%= t "customer.support.body" %></p>

