
  <div id="grid-first">
    <div class="container">
      <div class="row header">
        <h3>Sectores</h3>
        <p>
         Loyal Guru es una plataforma útil en diversos sectores
        </p>
      </div>
      <div class="row sections">
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
              <%= image_tag "resources/restauracion.jpg", :class => "img-responsive img-sector" %>
            </div>
            <div class="info">
              <strong>Restauración y hostelería</strong>
              <p>Cuantifica la efectividad con la que retienes y atraes a los clientes, maximiza el impacto de tus inversiones de marketing, fidelización y operaciones.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
              <%= image_tag "resources/retail.jpg", :class => "img-responsive img-sector" %>
            </div>
            <div class="info">
              <strong>Retail</strong>
              <p>Gana una perspectiva 360º del rendimiento de tus tiendas de cara a poder optimizar tus inversiones en marketing y operaciones.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
              <%= image_tag "resources/otros.jpg", :class => "img-responsive img-sector" %>
            </div>
            <div class="info">
              <strong>Otros</strong>
              <p>Activa de forma fácil tu estrategia de fidelización. Ya sea con la activación de un programa de puntos, o el uso de cupones personalizados, Loyal Guru te lo pone fácil.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

