 <div id="about-us">
  <div id="cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrapper clearfix">
            <h4><%= t "cta.title" %></h4>
            <%= link_to (t "menu.contact"), "/business/contact.html", class: "button button-small" %>
          </div>
        </div>
      </div>
    </div>
    <br/><br/><br/>
  </div>
  </div>