  <div id="hero">
    <div class="container">
      <h1 class="hero-text"><%= t "business.home.title" %></h1>
      <div class="cta">
        <%= link_to_i18n (t "menu.contact"), "contact.html", {class: "button"} %>
<!--         <a href="#" data-toggle="modal" data-target="#demo" class="demo">Watch a demo</a> -->
      </div>
<!--       <div class="screenshot animated fadeInUp">
        <img src="images/ss2.png" class="img-responsive" alt="screenshot" />
      </div> -->
    </div>
  </div>