<div id="home2">
<div id="features">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h2>Crea, mide y optimiza tus campañas de marketing</h2>
				<p>Loyal Guru te permitirá desplegar efectivas campañas omnicanal</p>
			</div>
		</div>
		<div class="row feature">
			<div class="col-md-4 info">
				<h4>Crea campañas </h4>
				<p>
					Pon Loyal Guru a trabajar con sus diferentes <strong>campañas automáticas</strong>.
				</p>
				<p>Escoge sobre que segmentos de tus clientes quieres actuar, escoge el tipo de campaña y la plataforma se pondrá a trabajar por ti.</p>
			</div>
			<div class="col-md-8 image">
				<%= image_tag "images/resources/screenshots/campaigns-auto-crop.png", class: "img-responsive img-bottom-border", style: "padding:0px 20px" %>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row feature backwards">
			<div class="col-md-4 info">
				<h4>Despliegue omnicanal</h4>
				<p>
					Una vez hayas creado una campaña escoge en que canal quieres deplegarla.
				</p>
				<p>
					Por el momento es posible enviar campañas a través de SMS, MAIL y notificaciones PUSH.
				</p>
			</div>
			<div class="col-md-8 image">
				<%= image_tag "images/resources/screenshots/campaigns-dashboard-crop.png", class: "img-responsive img-bottom-border", style: "padding:0px 20px;" %>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row feature">
			<div class="col-md-4 info">
				<h4>Mide, analiza y optimiza</h4>
				<p>
					Dispón de métricas accionables desde un único panel de control.
				</p>
				<p>
				Haz el seguimiento del impacto de tus campañas en los diferentes canales y obtén el ROI de las campañas vinculadas a cupones.
				</p>
			</div>
			<div class="col-md-8 image">
				<%= image_tag "images/resources/screenshots/campaigns-dashboard-charts-crop.png", class: "img-responsive img-bottom-border", style: "padding:0px 40px" %>
			</div>
		</div>
		<div class="divider"></div>
	</div>		
</div>
</div>