  <div id="hero">
    <div class="container">
      <h1 class="hero-text">Visibilidad completa 360ยบ<br>de todas tus tiendas</h1>
      <div class="cta">
       <%= link_to "Contacta", "contact.html", class: "button" %>
      </div>
<!--       <div class="screenshot animated fadeInUp">
        <img src="images/ss2.png" class="img-responsive" alt="screenshot" />
      </div> -->
    </div>
  </div>
