  <div id="hero">
    <div class="container">
      <h1 class="hero-text"><%= t "business.loyalty.hero_title" %></h1>
      <div class="cta">
        <%= link_to_i18n (t "menu.contact"), "/business/contact.html", class: "button" %>

      </div>
<!--       <div class="screenshot animated fadeInUp">
        <img src="images/ss2.png" class="img-responsive" alt="screenshot" />
      </div> -->
    </div>
  </div>
