---
title: Loyal Guru - Descarga la aplicaición para iOs o Android
bodyId: download
navbarClass: normal
wrapped: true
---


    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h3>Loyal Guru App</h3>
        <p>
          Escoge la descarga más adecuada para tu smartphone
        </p>
        </div>
      </div>
      <div class="row sections">
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
            <a href="https://play.google.com/store/apps/details?id=com.loyalguru.customer">
              <%= image_tag "resources/play-store.png", :class => "img-responsive img-sector" %>
              </a>
            </div>
            <div class="info">
              <strong>Android</strong>
              <p><a href="https://play.google.com/store/apps/details?id=com.loyalguru.customer" targe="_blank">Descargar</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
            <a href="https://itunes.apple.com/es/app/loyal-guru/id956818358?l=en&mt=8">
              <%= image_tag "resources/app-store.png", :class => "img-responsive img-sector" %>
            </a>
            </div>
            <div class="info">
              <strong>iOs</strong>
              <p><a href="https://itunes.apple.com/es/app/loyal-guru/id956818358?l=en&mt=8" class="">Descargar</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section">
            <div class="pic">
            <a href="https://customer.loyal.guru">
              <%= image_tag "resources/web-app.png", :class => "img-responsive img-sector" %>
              </a>
            </div>
            <div class="info">
              <strong>Web App</strong>
          <p><a href="https://customer.loyal.guru" target="_blank">Acceder</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
